.container {
  margin-bottom: var(--spacing-base);
}

.label {
  margin-bottom: var(--spacing-xs);
}

.info {
  color: var(--gray-light);
}

.dropzone {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 8px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;

  .text {
    width: 90%;
  }
}

.active {
  border-color: #2196f3;
}
.accept {
  border-color: var(--success);
}
.reject {
  border-color: var(--danger);
}

.remove {
  margin-top: var(--spacing-base);
}

.removeText {
  color: var(--danger);
  font-weight: bold;
}
